body {
  text-align: left;
  font-family: Calibri, sans-serif;
  font-size: 14.667px;
  line-height: 1.5;
}

.employeeInfo {
  border-style: solid;
  position: absolute;
  background-color: #FFE194;
  padding: 5px;
  left: 25px;
  top: 25px;
width: 340px;
height: 200px;
}

.toDoList {
  border-style: solid;
  position: absolute;
  background-color: #FFE194;
  padding: 5px;
  left: 25px;
  top: 685px;
width: 340px;
height: 200px;
}

.textHighlight{
  color: royalblue;
  font-weight: bold;
}

.app{
  height: 1050px;
  background-color: #A3CFA7;
}


.renterInformationSettingBox {
  border-style: solid;
  position: absolute;
  background-color: #FFE194;
  padding: 5px;
  left: 25px;
  top: 150px;
width: 340px;
height: 530px;}


.emailBody {
  text-align: left;
  font-family: Calibri, sans-serif;
  font-size: 14.667px;
  line-height: 1.5;
  width: 1020px;
  left: 375px;
  position: absolute;
  top: 25px;
  background-color: white;
  border-style: solid;
  padding: 5px;
}

.setFields {
  margin-top: auto;
  padding-top: 20px;
  overflow:auto;
  float:inline-end;
}
